
// set base font size

html {
  font-size: 16px;

  @media screen and (max-width: 600px) {
    font-size: 13px;
  }

  @media screen and (min-width: 900px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

// Modules scale with document

.header {
  font-size: 2.5rem;
}
.footer {
  font-size: 0.75;
}

// headers

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

body, .header {
  line-height: 1.4em;
}
