/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "base";


#container {
  max-width: 800px;
  height: auto;
  // @include box-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  margin: 100px auto;
  // border: 1px solid $gray;

  h1 {
    margin: 0;
    color: white;
    background-color: $blue;
    text-transform: uppercase;
    height: 100px;
    line-height: 100px;
    padding: 0 30px;
  }
  .ion-plus-round {
    float: right;
  }
  input {
    font-size: 1.4rem;
    font-weight: $normal;
    margin: 0;
    background-color: $gray;
    color: $blue;
    width: 100%;
    padding: 35px 26px;
    height: 50px;
    border: 0;
    outline: none;
   @include box-sizing(border-box);

   &:focus {
     background: white;
     border: 2px solid $blue;
   }
  }
}

.completed {
  color: gray;
  text-decoration: line-through;
}

// list items

li {
  height: 60px;
  line-height: 60px;
  background-color: white;

  &:nth-child(2n) {
    background-color: $gray;
  }
  &:hover span {
    width: 60px;
    opacity: 1.0
  }
}

// span tags

span {
  display: inline-block;
  background-color: $red;
  color: white;
  margin-right: 20px;
  height: 60px;
  width: 0;
  text-align: center;
  transition: 0.2s linear;
  opacity: 0;
}
